/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(lightblue, pink, white);
}
.heading {
  text-align: center;
  text-decoration: underline;
}
.box{
  border: 2px solid black;
  background-color: aqua;
  height:200px;
  width:400px;
  border-radius: 30px;
  margin: auto;
  text-align: center;

}.middle{
  text-align: center;
  
}